/*Tela de Login*/




:root {
    --input-linear: linear-gradient(120deg, #8cb999, #00c2cb);
    --button-linear: linear-gradient(120deg, #ffcc00, #262626);
    --back-badge: (#003153);
}




body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #1663be
}

.login__geral {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--input-linear);
    align-items: start;
    justify-content: center;
    position: relative;
}

.login__form {
    height: 100vh;
}



.login__container {
    min-height: 300px;
    width: 500px;
    background-color: #ffffffff;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35%;
}


.login__title {
    margin-bottom: 32px;
    color: #303030;
    font-size: xx-large;
}


.login__input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
}

.login__input-border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #cfcfcfcf;
    transition: 3s, ease-in-out;
}

.login__input-border::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background: var(--input-linear);
    transition: .3s ease-in-out;
}

.login__input:focus+.login__input-border::after {
    width: 100%;
}

.login__submit {
    height: 40px;
    width: 100%;
    outline: none;
    background: var(--button-linear);
    background-size: 200%;
    margin-bottom: 32px;
    color: #ffffffff;
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: .5 ease-in-out;
}

.login__submit:hover {
    background-position: right;
}

.login__reset {
    font-size: 12px;
    color: #929292;
    text-decoration: none;


}




/*Tela Crachá*/




.badge__geral {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    width: 100%;
    max-height: 100%;
    background-color: var(--button-linear);
}


.badge__form {
    align-items: center;
    height: 100%
}

.badge__container {
    display: flex;
    align-items: center;
    margin-top: 0.5%;
    background-color: #ffcc00;
    box-sizing: border-box;
    padding: 25px;
    height: 100%;
    width: 450px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.badge__image {
    width: 140px;
    height: 140px;
    margin-top: 30%;
    margin-left: 10%;
    background-size: cover;
    border: 1px solid black;
    background-color: #262626;
    border-radius: 15px;

}

.full__name-js {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.badge__info {
    margin-left: 16px;
    margin-top: 2%;
    padding: 0.5px 4px;
    border: solid black;
    color: white;
    background-color: #262626;
    border-radius: 15px;
    font-size: small;
}